<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.anderdonau.hackersdiet"
    android:versionCode="20250207"
    android:versionName="20250207-dev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.anderdonau.hackersdiet.MonthListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.anderdonau.hackersdiet.MonthDetailActivity"
            android:label="@string/title_month_detail"
            android:parentActivityName="de.anderdonau.hackersdiet.MonthListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.anderdonau.hackersdiet.MonthListActivity" />
        </activity>
        <activity
            android:name="de.anderdonau.hackersdiet.ExcerciseListActivity"
            android:label="@string/Excercise"
            android:parentActivityName="de.anderdonau.hackersdiet.MonthListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.anderdonau.hackersdiet.MonthListActivity" />
        </activity>
        <activity
            android:name="de.anderdonau.hackersdiet.ExcerciseDetailActivity"
            android:label="@string/Excercise"
            android:parentActivityName="de.anderdonau.hackersdiet.ExcerciseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.anderdonau.hackersdiet.ExcerciseListActivity" />
        </activity>
        <activity
            android:name="de.anderdonau.hackersdiet.Prefs"
            android:label="@string/preferences"
            android:parentActivityName=".MonthListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.anderdonau.hackersdiet.MonthListActivity" />
        </activity>
    </application>
</manifest>
